*{
  background-color: black;
  margin-top:10px
}

.root{
    display: flex;
    flex-direction: row;

}

.box1 {
    padding-top: 100px;
    width: 30vw;        /* Width of the box */
    height: 50vh;       /* Height of the box */
     /* Box color */
    color: white;        /* Text color */
    align-items: center; /* Center content vertically */
    border: 1px solid #ffffff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin: 2vw;       /* Space around the box */
    font-family: Arial, sans-serif; /* Font style */
    margin-top: 50px;
    padding-top: 17px;
    padding-left: 0px;
  }


  .boxa {
    margin-top: 1px;
    margin-left: 5px;
    background-color: #d579fd; /* Box color */
    margin-left:0px;     /* Space inside the box */

    width: 400px;        /* Width of the box */
    height: 200px;       /* Height of the box */
    color: white;        /* Text color */
    border-radius: 5px; /* Rounded corners */       /* Space around the box */
    font-family: Arial, sans-serif; /* Font style */
    justify-content: center;
  }

.box1 p{
    text-align: left;
    justify-content: left;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;

}




  .box2{
    padding-top: 4vh;
    width: 30vw;        /* Width of the box */
    height: 17vh;       /* Height of the box */
     /* Box color */
    color: white;        /* Text color */
    /* justify-content: center; Center content horizontally */
    align-items: center; /* Center content vertically */
    border: 1px solid #ffffff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin: 2vw;      /* Space around the box */
    font-family: Arial, sans-serif; /* Font style */
    margin-top: 5px;
    padding-top: 17px;
  }

  .box2 p{
    text-align: left;
    justify-content: left;
    padding-left: 25px;
    font-size: 20px;
    font-weight: bold;
  }

  .box4 {
    padding-top: 100px;
    width: 30vw;        /* Width of the box */
    height: 50vh;       /* Height of the box */
     /* Box color */
    color: white;        /* Text color */
    align-items: center; /* Center content vertically */
    border: 1px solid #ffffff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin: 2vw;       /* Space around the box */
    font-family: Arial, sans-serif; /* Font style */
    margin-top: 50px;
    padding-top: 17px;
    padding-left: 0px;
  }
 

  .box3{
    padding-top: 4vh;
    padding-right: 80px;
    width: 30vw;        /* Width of the box */
    height: 17vh;       /* Height of the box */
     /* Box color */
    color: white;        /* Text color */
    /* justify-content: center; Center content horizontally */
    align-items: center; /* Center content vertically */
    border: 1px solid #ffffff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin: 2vw;       /* Space around the box */
    font-family: Arial, sans-serif; /* Font style */
    display: grid;
    flex-direction: row;
    margin-top: 5px;

  }


  .box3 p{
    text-align: left;
    justify-content: left;
    padding-left: 35px;
    font-size: 20px;
    font-weight: bold;
  }
  .box{
    display: grid;
  }