*{
  background-color: black;
}

.root{
    display: flex;
    flex-direction: row;

}

.box1 {
    padding-top: 100px;
    width: 30vw;        /* Width of the box */
    height: 50vh;       /* Height of the box */
     /* Box color */
    color: white;        /* Text color */
    /* justify-content: center; Center content horizontally */
    align-items: center; /* Center content vertically */
    border: 1px solid #ffffff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin: 20px;       /* Space around the box */
    font-family: Arial, sans-serif; /* Font style */
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

.box1 p{
    text-align: left;
    justify-content: left;
    padding-left: 35px;
    font-size: 20px;
    font-weight: bold;
}




  .box2{
    padding-top: 4vh;
    padding-right: 80px;
    width: 30vw;        /* Width of the box */
    height: 17vh;       /* Height of the box */
     /* Box color */
    color: white;        /* Text color */
    /* justify-content: center; Center content horizontally */
    align-items: center; /* Center content vertically */
    border: 1px solid #ffffff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin: 2vw;       /* Space around the box */
    font-family: Arial, sans-serif; /* Font style */
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  .box2 p{
    text-align: left;
    justify-content: left;
    padding-left: 35px;
    font-size: 20px;
    font-weight: bold;
  }

  .boxa{
    display: flex;
  }

  .box3{
    padding-top: 4vh;
    padding-right: 80px;
    width: 30vw;        /* Width of the box */
    height: 17vh;       /* Height of the box */
     /* Box color */
    color: white;        /* Text color */
    /* justify-content: center; Center content horizontally */
    align-items: center; /* Center content vertically */
    border: 1px solid #ffffff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin: 2vw;       /* Space around the box */
    font-family: Arial, sans-serif; /* Font style */
    display: flex;
    flex-direction: row;
    margin-top: 50px;

  }
  .box{
    display: flex;
  }